@model LasPepas.Entidades.Prenda

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger text-bolder">¿Estás seguro de eliminar el artículo?</h3>
<div class="row col-md-8">
    <div class="col-md-4">

        <hr />
        <dl class="fw-bold">
            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>
            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.Marca)
            </dd>
            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.Descripción)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.Descripción)
            </dd>
            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.Talle)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.Talle)
            </dd>

            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.Disponible)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.Disponible)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="fw-bold">
            <hr />
            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.VentaContado)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.VentaContado)
            </dd>
            <dt class="col-12">
                @Html.DisplayNameFor(model => model.VentaCtaCorriente)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.VentaCtaCorriente)
            </dd>
            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.VentaTarjeta)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.VentaTarjeta)
            </dd>
            <dt class="col-12">
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.Cliente)
            </dd>
            <dt class="col-12 ">
                @Html.DisplayNameFor(model => model.FechaVenta)
            </dt>
            <dd class="col-12 text-secondary">
                @Html.DisplayFor(model => model.FechaVenta)
            </dd>
        </dl>

    </div>
    <form asp-action="Eliminar">
        <div class="col-8 btn-group">
            <input type="submit" value="Eliminar" class="btn btn-danger fw-bolder col-6 rounded-1" />
            <a class="btn btn-secondary text-white fw-bold col-6 rounded-1 ms-1" asp-action="Index">Regresar</a>
            <input type="hidden" asp-for="Id" />
        </div>
    </form>
</div>
