@model IEnumerable<LasPepas.Entidades.Prenda>
@using Microsoft.AspNetCore.Identity
    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var message = ViewBag.SuccessMsg;
}



<!-- Validacion para desplegar Mensaje despues del POST-->
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show col-md-4 text-center" role="alert">
        @Html.Encode(TempData["success"])
    </div>
}



@if (Model.Count() > 0)
{
    <div class="table-responsive-lg mb-5">

        <div class="table login-row">

            <div class="container" style="margin:0;">
                <div class="row col-md-12">
                    <h1 class="text-secondary text-center fw-normal display-5 mt-3 mb-4"><i class="fa-solid fa-shirt"></i>&nbspLista de prendas&nbsp<i class="fa-solid fa-shirt text-success"></i></h1>
                    <div class="col-md-6">
                        <div class="form-group d-grid col-md-6 col-lg-6">
                            <a asp-action="Crear" class="btn btn-success col-12 fw-bolder mb-3"><i class="fa-solid fa-cash-register"></i>&nbsp&nbspRegistrar prenda</a>
                        </div>


                        <table border="0" cellspacing="5" cellpadding="5">
                            <tbody>
                                <tr class="col-4">
                                    <td class="text-info fw-bold">Precio Mínimo:</td>
                                    <td><input type="text" id="min" name="min"></td>
                                </tr>
                                <tr class="col-6">
                                    <td class="text-info fw-bold">Precio Máximo:</td>
                                    <td><input type="text" id="max" name="max"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-3  mt-2">
                            @*<h4 class="text-secondary fw-bold text-info align-content-end fs-6">Por favor escaneá el código</h4>*@
                            <i class="fa-solid fa-qrcode text-danger"></i>
                            <strong class="text-secondary ">Código: </strong>
                            <div class="text-primary" id="last-barcode"></div>
                        </div>
                    </div>



                </div>
            </div>

            <div>
                <table class="table table-light table-striped table-bordered col-lg-6 display" id="tabla">
                    <thead>
                        <tr class="col-md-12">
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center"> Código</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Fecha registro</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Marca</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Tipo de prenda</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Temp.</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Descripción</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Color</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Talle</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Disponible / Vendido</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Precio</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Contado / Débito</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">T. Crédito</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Cuenta Corriente</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Condicional</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Cliente</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Fecha venta</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Vendió</th>
                            <th scope="col" class="col-md-1 text-secondary fw-bolder text-center">Acción</th>
                        </tr>
                    </thead>
                    @if (@User.IsInRole("Administrador"))
                    {
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-info fw-bold text-white text-center"></td>
                                <td class="bg-success text-center fw-bold text-white"></td>
                                <td class="bg-success text-center fw-bold text-white"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    }
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="col-md-6 text-center">
                                <td scope="col">@item.Codigo</td>
                                <td scope="col">@item.FechaCreacion.ToString("dd/MM/yy")</td>
                                <td class="text-success" scope="col">@item.Marca</td>
                                <td scope="col">@item.TipoPrenda</td>
                                <td class="text-info" scope="col">@item.Temporada</td>
                                <td scope="col">@item.Descripción</td>
                                @if (item.Observaciones == null)
                                {
                                    <td scope="col">Sin detalles</td>
                                }
                                else
                                {
                                    <td scope="col">@item.Observaciones</td>
                                }
                                <td scope="col">@item.Talle</td>

                                @if (item.Disponible == true)
                                {
                                    <td scope="col"><i class="fa-solid fa-clipboard-check fs-3 text-success"></i></td>
                                }
                                else
                                {
                                    <td scope="col"><i class="fa-solid fa-cart-arrow-down fs-3 text-danger"></i></td>
                                }
                                <td class="text-success" scope="col">@item.Precio</td>
                                @if (item.VentaContado == null)
                                {
                                    <td scope="col">0</td>
                                }
                                else
                                {
                                    <td class="text-success" scope="col">@item.VentaContado</td>
                                }
                                @if (item.VentaTarjeta == null)
                                {
                                    <td scope="col">0</td>
                                }
                                else
                                {
                                    <td class="text-success" scope="col">@item.VentaTarjeta</td>
                                }
                                @if (item.VentaCtaCorriente == false)
                                {
                                    <td class="text-info" scope="col">NO</td>
                                }
                                else
                                {
                                    <td scope="col"><i class="fa-regular fa-circle-check text-warning fs-3"></i></td>
                                }
                                @if (item.Condicional == false)
                                {
                                    <td class="text-info" scope="col">NO</td>
                                }
                                else
                                {
                                    <td class="text-success" scope="col"><i class="fa-regular fa-circle-check text-warning fs-3"></i></td>
                                }


                                @if (item.Cliente == null)
                                {
                                    <td scope="col">Sin Cliente</td>
                                }
                                else
                                {
                                    <td class="text-primary" scope="col">@item.Cliente</td>
                                }

                                <td scope="col" id="FechaVenta">@item.FechaVenta</td>
                                @if (item.Vendedor == 0)
                                {
                                    <td scope="col">Sin vendedora</td>
                                }
                                else
                                {
                                    <td scope="col">@item.Vendedor</td>
                                }
                                <td scope="col">
                                    <a asp-action="Editar" asp-route-id="@item.Id"><i class="fa-solid fa-cart-arrow-down text-success"></i></a> |
                                    <a asp-action="Detalle" asp-route-id="@item.Id"><i class="fa-solid fa-eye text-primary"></i></a> |
                                    @if (@User.IsInRole("Administrador"))
                                    {
                                        <a asp-action="Eliminar" asp-route-id="@item.Id"><i class="fa-regular fa-trash-can text-danger "></i></a>
                                    }

                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-group d-grid col-md-2 col-lg-2">
        <a asp-action="Crear" class="btn btn-success col-12 fw-bolder mb-3"><i class="fa-solid fa-cash-register"></i>&nbsp&nbspRegistrar prenda</a>
    </div>
    <p class="text--white">No hay prendas para mostrar</p>
}


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.5/api/sum().js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script type="text/javascript">


               $(document).ready(function() {
               $('#tabla').DataTable({
                   language: {
                           "lengthMenu": "Mostrar _MENU_ registros",
                           "zeroRecords": "No se encontraron resultados",
                           "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                           "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                           "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                           "sSearch": "Buscar: ",
                           "oPaginate": {
                               "sFirst": "Primero",
                               "sLast":"Último",
                               "sNext":" Siguiente",
                               "sPrevious": "Anterior "
                            },
                            "sProcessing":"Procesando...",
                       },
                   //para usar los botones
                   responsive: "true",
                   dom: 'Bfrtilp',
                   buttons:[
                       {
                           extend:    'excelHtml5',
                           exportOptions: {
                           columns: [0, 1, 2, 3,4,5,6,7,9,10,11,14,15]
                       },
                           text:      '<i class="fas fa-file-excel"></i> ',
                           filename: 'Prendas-Las-Pepas',
                           titleAttr: 'Exportar a Excel',
                           className: 'btn btn-success',
                           title:"Lista de prendas - Las Pepas"
                       },
                       {
                           extend:    'pdfHtml5',
                           exportOptions: {
                           columns: [ 0, 1, 2, 3,4,5,6,7,9,10,11,14,15]
                       },
                           text:      '<i class="fas fa-file-pdf"></i> ',
                           filename:'Prendas-Las-Pepas',
                            orientation: 'landscape', //portrait
                           pageSize: 'A4', //A3 , A5 , A6 , legal , letter
                           titleAttr: 'Exportar a PDF',
                           className: 'btn btn-danger',
                            title: "Lista de prendas -- Las Pepas - Santa Lucia (Corrientes)"
                       },
                       {

                           extend:    'print',
                           exportOptions: {
                           columns: [0, 1, 2, 3,4,5,6,7,9,10,11,14,15]
                       },
                           text:      '<i class="fa fa-print"></i> ',
                            filename: 'Prendas-Las-Pepas',
                           titleAttr: 'Imprimir',
                           className: 'btn btn-info',
                           title:"Lista de prendas -- Las Pepas - Santa Lucia (Corrientes)"
                       },
                   ],
             footerCallback: function ( row, data, start, end, display ) {
                var api = this.api(), data;

                // converting to interger to find total
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                 var contado = api
               .column( 10 )
               .data()
               .reduce( function (a, b) {
                   return intVal(parseInt(a)) + intVal(parseInt(b));
               }, 0 );

                // Total over this page
              pageTotalContado = api
                  .column(10, { page: 'current' })
                  .data()
                  .reduce(function (a, b) {
                      return intVal(parseInt(a)) + intVal(parseInt(b));
                  }, 0);


                var entrega = api
               .column( 11 )
               .data()
               .reduce( function (a, b) {
                   return intVal(parseInt(a)) + intVal(parseInt(b));
               }, 0 );

                // Total over this page
              pageTotalEntrega = api
                  .column(11, { page: 'current' })
                  .data()
                  .reduce(function (a, b) {
                      return intVal(parseInt(a)) + intVal(parseInt(b));
                  }, 0);

                 var ctaCorrienteTotal = api
                         .column( 12 )
                         .data()
                         .reduce( function (a, b) {
                             return intVal(parseInt(a)) + intVal(parseInt(b));
                         }, 0 );

                          pageTotalCorriente = api
                            .column(12, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(parseInt(a)) + intVal(parseInt(b));
                            }, 0);


                var creditoTotal = api
                    .column( 13 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(parseInt(a)) + intVal(parseInt(b));
                    }, 0 );

                     pageTotalCredito = api
                       .column(13, { page: 'current' })
                       .data()
                       .reduce(function (a, b) {
                           return intVal(parseInt(a)) + intVal(parseInt(b));
                       }, 0);


                // Update footer by showing the total with the reference of the column index
             $( api.column( 9 ).footer() ).html('Total');
             $(api.column(10).footer()).html('Total efectivo $' + pageTotalContado );
              $(api.column(11).footer()).html('Total t. crédito $' + pageTotalEntrega );

    },
               });

           });



           /* Custom filtering function which will search data in column four between two values */
                          $.fn.dataTable.ext.search.push(
                              function( settings, data, dataIndex ) {
                                  var min = $('#min').val() * 1;
                                  var max = $('#max').val() * 1;
                                  var precio = parseFloat( data[9] ) || 0; // use data for the precio column
                                  if ( ( min == '' && max == '' ) ||
                                       ( min == '' && precio <= max ) ||
                                       ( min <= precio && '' == max ) ||
                                       ( min <= precio && precio <= max ) )
                                  {
                                      return true;
                                  }
                              }
                          );
                          $(document).ready(function() {
                              var table = $('#tabla').DataTable();
                              // Event listener to the two range filtering inputs to redraw on input
                              $('#min, #max').keyup( function() {
                                  table.draw();
                              } );
                          } );


                           //Codigo para scanear codigos de barra
    var barcode = '';
           var interval;
           document.addEventListener('keydown', function(evt) {
               if (interval)
                   clearInterval(interval);
               if (evt.code == 'Enter') {
                   if (barcode)
                       handleBarcode(barcode);
                   barcode = '';
                   return;
               }
               if (evt.key != 'Shift')
                   barcode += evt.key;
               interval = setInterval(() => barcode = '', 20);
           });

           function handleBarcode(scanned_barcode) {
               document.querySelector('#last-barcode').innerHTML = scanned_barcode;
           }

            $(document).ready(function () {
        $('#FechaVenta').datepicker();
    });

</script>

     }




